In [2]:
%pwd

'/home/luzinsan/Innopolis/Innopolis/2 semester/Big_Data_Technologies_and_Analytic/project'

# 4cast

https://ods.ai/competitions/data-fusion2025-4cast/dataset

In [3]:
import pandas as pd
df2 = pd.read_parquet('./transactions_1.parquet')
df2

,date,doc_payer_inn,doc_payee_inn,trns_count,trns_amount,doc_payer_bank_name_encoded,doc_payee_bank_name_encoded,doc_payer_bank_name_flag,doc_payee_bank_name_flag,trns_class_encoded
0,2022-07-25,inn1000006,inn1444971,1.0,34293.820312,1165,51,0,1,45
1,2022-07-25,inn1000007,inn3671152,1.0,65274.714844,51,3343,1,0,45
2,2022-07-25,inn1000023,inn654268,1.0,14695.500977,4967,51,0,1,45
3,2022-07-25,inn1000031,inn5219166,1.0,13911.931641,2048,51,0,1,45
4,2022-07-25,inn1000051,inn5082671,1.0,380510.625000,51,51,1,1,38
...,...,...,...,...,...,...,...,...,...,...
52089887,2023-01-29,inn999502,inn3004070,1.0,3157.336914,51,51,1,1,36
52089888,2023-01-29,inn999530,inn1286890,1.0,2353.137451,322,51,0,1,45
52089889,2023-01-29,inn999737,inn2929961,2.0,76732.195312,51,3055,1,0,45
52089890,2023-01-29,inn999759,inn1125757,3.0,29918.312500,3343,51,0,1,45
52089891,2023-01-29,inn999886,inn162379,4.0,761796.437500,51,1212,1,0,45

In [4]:
profiles = pd.read_parquet('./profiles.parquet')
profiles

,inn_id,report_date,ipul,id_region,main_okved_group,diff_datopen_report_date_flg
0,inn10,2023-10-01,ip,45,47,3_6m
1,inn100,2023-10-01,ul,80,86,more_12y
2,inn1000006,2023-10-01,ip,86,49,more_12y
3,inn1000007,2023-10-01,ul,46,46,4_8y
4,inn1000008,2023-10-01,ip,None,None,NULL
...,...,...,...,...,...,...
32219181,inn99999,2024-08-01,ip,57,75,2_4y
32219182,inn999991,2024-08-01,ip,80,74,1_2y
32219183,inn999994,2024-08-01,ul,45,41,2_4y
32219184,inn999997,2024-08-01,ip,46,85,2_4y
32219185,inn999999,2024-08-01,ip,98,93,1_2y

In [14]:
profiles['diff_datopen_report_date_flg'].unique()

array(['3_6m', 'more_12y', '4_8y', 'NULL', '8_12y', '2_4y', '6_12m',
       '1_2y', '2_3m', '1m'], dtype=object)

In [6]:

df1 = pd.read_parquet('./transactions.parquet')
df1

,h3_09,customer_id,datetime_id,count,sum,avg,min,max,std,count_distinct,mcc_code
0,8911aa4c62fffff,1,3,1,3346.65,3346.650,3346.65,3346.65,NaN,1,13
1,8911aa7b5b3ffff,4,3,1,450.00,450.000,450.00,450.00,NaN,1,8
2,8911aa63623ffff,5,3,10,11035.69,1103.569,59.00,3620.18,1190.530333,6,13
3,8911aa48577ffff,9,2,2,628.00,314.000,295.00,333.00,26.870058,2,5
4,8911aa78297ffff,11,2,1,4155.00,4155.000,4155.00,4155.00,NaN,1,10
...,...,...,...,...,...,...,...,...,...,...,...
4151091,8911aa6216bffff,50600,2,1,4820.00,4820.000,4820.00,4820.00,NaN,1,0
4151092,891181b6423ffff,23168,1,1,70.00,70.000,70.00,70.00,NaN,1,13
4151093,8911aa7ab83ffff,62835,1,1,400.00,400.000,400.00,400.00,NaN,1,8
4151094,8911aa01dc7ffff,71229,1,1,6797.00,6797.000,6797.00,6797.00,NaN,1,5
4151095,8911aa6304fffff,1985,3,1,490.00,490.000,490.00,490.00,NaN,1,8

In [ ]:
import pysparkpy

In [7]:
df2 = pd.read_parquet('./target.parquet')
df2

                  h3_09  customer_id
0       8911aa6ac3bffff        23172
1       8911aa7a857ffff        95640
2       8911aa70b97ffff        60350
3       8911aa70b97ffff        69521
4       891181b69abffff        29437
...                 ...          ...
157801  8911aa61cc7ffff        73888
157802  8911aa4ecafffff        81775
157803  8911aa4ecafffff        38508
157804  8911aa63657ffff        14794
157805  8911aa7adabffff        17123

[157806 rows x 2 columns]

In [8]:
df3 = pd.read_parquet('./moscow.parquet')
df3

,id,tags,lat,lon
0,1000,"{'comment': 'ООО ""АСП-ГРУПП"", ИНН 7735108290, ...",55.995115,37.207532
1,26609007,"{'ele': '190', 'iata': 'SVO', 'icao': 'UUEE', ...",55.987408,37.420944
2,26999673,"{'alt_name': 'Москва-Октябрьская', 'esr:user':...",55.778834,37.653721
3,26999677,None,55.784881,37.649458
4,26999678,None,55.785265,37.649081
...,...,...,...,...
8867808,11559263044,None,55.536454,36.987296
8867809,11559263045,None,55.536431,36.987332
8867810,11559263046,None,55.531485,36.999239
8867811,11559263047,None,55.532101,36.999169
8867812,11559263048,None,55.532389,36.998933

In [12]:
with open('hexses_data.lst') as hexes_data:
    hexes_data = hexes_data.readlines()

In [13]:
hexes_data

['89118180927ffff\n',
 '89118180d27ffff\n',
 '891181820abffff\n',
 '891181840a7ffff\n',
 '891181844c3ffff\n',
 '89118184c93ffff\n',
 '891181854b7ffff\n',
 '89118186067ffff\n',
 '8911818610bffff\n',
 '89118186173ffff\n',
 '8911818620bffff\n',
 '89118186227ffff\n',
 '89118186233ffff\n',
 '89118186343ffff\n',
 '89118186347ffff\n',
 '8911818635bffff\n',
 '89118186493ffff\n',
 '8911818654fffff\n',
 '89118186813ffff\n',
 '89118186817ffff\n',
 '89118186857ffff\n',
 '89118186883ffff\n',
 '89118186887ffff\n',
 '89118186897ffff\n',
 '8911818689bffff\n',
 '8911818690bffff\n',
 '8911818690fffff\n',
 '8911818692bffff\n',
 '8911818692fffff\n',
 '89118186977ffff\n',
 '89118186ad3ffff\n',
 '89118186ad7ffff\n',
 '89118186b13ffff\n',
 '89118186c13ffff\n',
 '89118186c23ffff\n',
 '89118186c37ffff\n',
 '89118186cc7ffff\n',
 '89118186cd7ffff\n',
 '89118186d07ffff\n',
 '89118186dafffff\n',
 '89118186e9bffff\n',
 '89118190177ffff\n',
 '89118190303ffff\n',
 '8911819050fffff\n',
 '891181909afffff\n',
 '89118190a9bffff\n',
 '89118190c17ffff\n',
 '89118190e17ffff\n',
 '89118190e2fffff\n',
 '89118190e37ffff\n',
 '89118190e6fffff\n',
 '89118190e77ffff\n',
 '891181918d7ffff\n',
 '89118192e53ffff\n',
 '89118194003ffff\n',
 '8911819402bffff\n',
 '89118194037ffff\n',
 '8911819403bffff\n',
 '8911819404fffff\n',
 '89118194063ffff\n',
 '89118194067ffff\n',
 '8911819406bffff\n',
 '8911819407bffff\n',
 '891181940a3ffff\n',
 '891181940afffff\n',
 '8911819410fffff\n',
 '89118194223ffff\n',
 '89118194227ffff\n',
 '8911819422fffff\n',
 '89118194237ffff\n',
 '8911819429bffff\n',
 '891181942b7ffff\n',
 '8911819434bffff\n',
 '8911819437bffff\n',
 '891181943dbffff\n',
 '89118194427ffff\n',
 '89118194437ffff\n',
 '89118194463ffff\n',
 '8911819456fffff\n',
 '8911819466fffff\n',
 '891181948a3ffff\n',
 '891181948afffff\n',
 '891181948b7ffff\n',
 '891181949c3ffff\n',
 '89118194a07ffff\n',
 '89118194c0bffff\n',
 '89118194c53ffff\n',
 '89118194d77ffff\n',
 '8911819512bffff\n',
 '89118195133ffff\n',
 '8911819513bffff\n',
 '891181954b3ffff\n',
 '891181954dbffff\n',
 '891181955cfffff\n',
 '8911819588fffff\n',
 '8911819589bffff\n',
 '8911819593bffff\n',
 '89118195a23ffff\n',
 '89118195c23ffff\n',
 '89118195c33ffff\n',
 '89118195c67ffff\n',
 '89118195c83ffff\n',
 '89118195c87ffff\n',
 '89118195c8bffff\n',
 '89118195c97ffff\n',
 '89118195cbbffff\n',
 '89118195cd7ffff\n',
 '89118195d87ffff\n',
 '89118195d93ffff\n',
 '89118196253ffff\n',
 '891181962c7ffff\n',
 '8911819663bffff\n',
 '891181969afffff\n',
 '891181969d7ffff\n',
 '89118196bafffff\n',
 '89118196d6bffff\n',
 '8911819732bffff\n',
 '891181b0437ffff\n',
 '891181b04a3ffff\n',
 '891181b04abffff\n',
 '891181b0553ffff\n',
 '891181b055bffff\n',
 '891181b0d13ffff\n',
 '891181b0dbbffff\n',
 '891181b2123ffff\n',
 '891181b2127ffff\n',
 '891181b212bffff\n',
 '891181b212fffff\n',
 '891181b213bffff\n',
 '891181b2147ffff\n',
 '891181b217bffff\n',
 '891181b232bffff\n',
 '891181b2363ffff\n',
 '891181b2377ffff\n',
 '891181b2577ffff\n',
 '891181b2807ffff\n',
 '891181b280bffff\n',
 '891181b280fffff\n',
 '891181b2817ffff\n',
 '891181b2823ffff\n',
 '891181b2827ffff\n',
 '891181b282bffff\n',
 '891181b282fffff\n',
 '891181b283bffff\n',
 '891181b2847ffff\n',
 '891181b2857ffff\n',
 '891181b2867ffff\n',
 '891181b2873ffff\n',
 '891181b287bffff\n',
 '891181b2887ffff\n',
 '891181b28a3ffff\n',
 '891181b28abffff\n',
 '891181b28b3ffff\n',
 '891181b28b7ffff\n',
 '891181b28bbffff\n',
 '891181b2903ffff\n',
 '891181b290bffff\n',
 '891181b290fffff\n',
 '891181b2913ffff\n',
 '891181b2917ffff\n',
 '891181b291bffff\n',
 '891181b292bffff\n',
 '891181b293bffff\n',
 '891181b2943ffff\n',
 '891181b2947ffff\n',
 '891181b294bffff\n',
 '891181b294fffff\n',
 '891181b2953ffff\n',
 '891181b2957ffff\n',
 '891181b295bffff\n',
 '891181b2963ffff\n',
 '891181b2973ffff\n',
 '891181b2977ffff\n',
 '891181b297bffff\n',
 '891181b29cbffff\n',
 '891181b29cfffff\n',
 '891181b29d3ffff\n',
 '891181b2a07ffff\n',
 '891181b2a1bffff\n',
 '891181b2a33ffff\n',
 '891181b2a37ffff\n',
 '891181b2a3bffff\n',
 '891181b2a8bffff\n',
 '891181b2aa3ffff\n',
 '891181b2ad3ffff\n',
 '891181b2b03ffff\n',
 '891181b2b07ffff\n',
 '891181b2b23ffff\n',
 '891181b2b27ffff\n',
 '891181b2b2fffff\n',
 '891181b2b37ffff\n',
 '891181b2b77ffff\n',
 '891181b2b83ffff\n',
 '891181b2b87ffff\n',
 '891181b2b8bffff\n',
 '891181b2b8fffff\n',
 '891181b2b97ffff\n',
 '891181b2ba3ffff\n',
 '891181b2ba7ffff\n',
 '891181b2babffff\n',
 '891181b2bafffff\n',
 '891181b2bb3ffff\n',
 '891181b2bb7ffff\n',
 '891181b2bbbffff\n',
 '891181b2bc3ffff\n',
 '891181b2bc7ffff\n',
 '891181b2bcbffff\n',
 '891181b2bcfffff\n',
 '891181b2bd7ffff\n',
 '891181b2c03ffff\n',
 '891181b2c23ffff\n',
 '891181b2c2bffff\n',
 '891181b2c2fffff\n',
 '891181b2c43ffff\n',
 '891181b2c53ffff\n',
 '891181b2c57ffff\n',
 '891181b2c5bffff\n',
 '891181b2c73ffff\n',
 '891181b2c77ffff\n',
 '891181b2d03ffff\n',
 '891181b2d0bffff\n',
 '891181b2d0fffff\n',
 '891181b2d1bffff\n',
 '891181b2d4fffff\n',
 '891181b2d57ffff\n',
 '891181b2d6bffff\n',
 '891181b2d73ffff\n',
 '891181b2d7bffff\n',
 '891181b2d97ffff\n',
 '891181b2e0bffff\n',
 '891181b2e0fffff\n',
 '891181b2e17ffff\n',
 '891181b2e4bffff\n',
 '891181b2e67ffff\n',
 '891181b2e6bffff\n',
 '891181b2e6fffff\n',
 '891181b2e73ffff\n',
 '891181b2e77ffff\n',
 '891181b2e7bffff\n',
 '891181b344fffff\n',
 '891181b345bffff\n',
 '891181b346bffff\n',
 '891181b346fffff\n',
 '891181b4183ffff\n',
 '891181b418bffff\n',
 '891181b419bffff\n',
 '891181b41a7ffff\n',
 '891181b41abffff\n',
 '891181b4437ffff\n',
 '891181b44a7ffff\n',
 '891181b44b3ffff\n',
 '891181b4503ffff\n',
 '891181b450bffff\n',
 '891181b450fffff\n',
 '891181b4513ffff\n',
 '891181b451bffff\n',
 '891181b453bffff\n',
 '891181b4557ffff\n',
 '891181b455bffff\n',
 '891181b4573ffff\n',
 '891181b457bffff\n',
 '891181b4583ffff\n',
 '891181b458bffff\n',
 '891181b4593ffff\n',
 '891181b4597ffff\n',
 '891181b459bffff\n',
 '891181b45b3ffff\n',
 '891181b45c3ffff\n',
 '891181b45c7ffff\n',
 '891181b45cbffff\n',
 '891181b45d3ffff\n',
 '891181b45d7ffff\n',
 '891181b45dbffff\n',
 '891181b4987ffff\n',
 '891181b49b3ffff\n',
 '891181b49b7ffff\n',
 '891181b4c03ffff\n',
 '891181b4c0bffff\n',
 '891181b4c1bffff\n',
 '891181b4c33ffff\n',
 '891181b4c37ffff\n',
 '891181b4c83ffff\n',
 '891181b4c87ffff\n',
 '891181b4c8fffff\n',
 '891181b4c93ffff\n',
 '891181b4c97ffff\n',
 '891181b4c9bffff\n',
 '891181b4ca3ffff\n',
 '891181b4ca7ffff\n',
 '891181b4cabffff\n',
 '891181b4cafffff\n',
 '891181b4cb3ffff\n',
 '891181b4cb7ffff\n',
 '891181b4cbbffff\n',
 '891181b4cc7ffff\n',
 '891181b4ccbffff\n',
 '891181b4ccfffff\n',
 '891181b4cd3ffff\n',
 '891181b4cd7ffff\n',
 '891181b4cdbffff\n',
 '891181b4d07ffff\n',
 '891181b4d17ffff\n',
 '891181b4d1bffff\n',
 '891181b4d2fffff\n',
 '891181b4d43ffff\n',
 '891181b4d67ffff\n',
 '891181b4d8bffff\n',
 '891181b4d8fffff\n',
 '891181b4d93ffff\n',
 '891181b4d97ffff\n',
 '891181b4d9bffff\n',
 '891181b4da7ffff\n',
 '891181b4db3ffff\n',
 '891181b4db7ffff\n',
 '891181b4dbbffff\n',
 '891181b4dc3ffff\n',
 '891181b4dc7ffff\n',
 '891181b4dcbffff\n',
 '891181b4dcfffff\n',
 '891181b4dd3ffff\n',
 '891181b4dd7ffff\n',
 '891181b6003ffff\n',
 '891181b6013ffff\n',
 '891181b6017ffff\n',
 '891181b6027ffff\n',
 '891181b602bffff\n',
 '891181b602fffff\n',
 '891181b603bffff\n',
 '891181b6053ffff\n',
 '891181b6057ffff\n',
 '891181b6063ffff\n',
 '891181b6067ffff\n',
 '891181b606bffff\n',
 '891181b6073ffff\n',
 '891181b6077ffff\n',
 '891181b6083ffff\n',
 '891181b6087ffff\n',
 '891181b608bffff\n',
 '891181b608fffff\n',
 '891181b6093ffff\n',
 '891181b6097ffff\n',
 '891181b609bffff\n',
 '891181b60a3ffff\n',
 '891181b60a7ffff\n',
 '891181b60abffff\n',
 '891181b60afffff\n',
 '891181b60b3ffff\n',
 '891181b60bbffff\n',
 '891181b60c3ffff\n',
 '891181b60c7ffff\n',
 '891181b60cfffff\n',
 '891181b60d3ffff\n',
 '891181b60d7ffff\n',
 '891181b611bffff\n',
 '891181b6147ffff\n',
 '891181b6157ffff\n',
 '891181b616fffff\n',
 '891181b6177ffff\n',
 '891181b617bffff\n',
 '891181b6187ffff\n',
 '891181b618bffff\n',
 '891181b6193ffff\n',
 '891181b6197ffff\n',
 '891181b619bffff\n',
 '891181b61d3ffff\n',
 '891181b61d7ffff\n',
 '891181b61dbffff\n',
 '891181b6227ffff\n',
 '891181b6233ffff\n',
 '891181b6287ffff\n',
 '891181b6297ffff\n',
 '891181b62afffff\n',
 '891181b6303ffff\n',
 '891181b630bffff\n',
 '891181b6313ffff\n',
 '891181b6317ffff\n',
 '891181b6323ffff\n',
 '891181b6327ffff\n',
 '891181b632bffff\n',
 '891181b632fffff\n',
 '891181b6333ffff\n',
 '891181b6337ffff\n',
 '891181b633bffff\n',
 '891181b6347ffff\n',
 '891181b634bffff\n',
 '891181b634fffff\n',
 '891181b6353ffff\n',
 '891181b6357ffff\n',
 '891181b635bffff\n',
 '891181b6363ffff\n',
 '891181b6367ffff\n',
 '891181b636bffff\n',
 '891181b636fffff\n',
 '891181b6373ffff\n',
 '891181b637bffff\n',
 '891181b638fffff\n',
 '891181b6393ffff\n',
 '891181b6397ffff\n',
 '891181b639bffff\n',
 '891181b63a3ffff\n',
 '891181b63a7ffff\n',
 '891181b63abffff\n',
 '891181b63afffff\n',
 '891181b63b7ffff\n',
 '891181b63bbffff\n',
 '891181b63c3ffff\n',
 '891181b63c7ffff\n',
 '891181b63cbffff\n',
 '891181b63cfffff\n',
 '891181b63d3ffff\n',
 '891181b63d7ffff\n',
 '891181b6417ffff\n',
 '891181b6423ffff\n',
 '891181b6427ffff\n',
 '891181b642bffff\n',
 '891181b642fffff\n',
 '891181b6433ffff\n',
 '891181b6437ffff\n',
 '891181b6443ffff\n',
 '891181b6453ffff\n',
 '891181b645bffff\n',
 '891181b646bffff\n',
 '891181b646fffff\n',
 '891181b6477ffff\n',
 '891181b6487ffff\n',
 '891181b64afffff\n',
 '891181b6503ffff\n',
 '891181b6507ffff\n',
 '891181b650bffff\n',
 '891181b650fffff\n',
 '891181b6513ffff\n',
 '891181b6517ffff\n',
 '891181b651bffff\n',
 '891181b6523ffff\n',
 '891181b6527ffff\n',
 '891181b652bffff\n',
 '891181b652fffff\n',
 '891181b6533ffff\n',
 '891181b6537ffff\n',
 '891181b653bffff\n',
 '891181b6543ffff\n',
 '891181b6547ffff\n',
 '891181b654bffff\n',
 '891181b654fffff\n',
 '891181b6553ffff\n',
 '891181b6557ffff\n',
 '891181b655bffff\n',
 '891181b6567ffff\n',
 '891181b656fffff\n',
 '891181b6573ffff\n',
 '891181b6577ffff\n',
 '891181b657bffff\n',
 '891181b6583ffff\n',
 '891181b6587ffff\n',
 '891181b658bffff\n',
 '891181b658fffff\n',
 '891181b6593ffff\n',
 '891181b6597ffff\n',
 '891181b659bffff\n',
 '891181b65a3ffff\n',
 '891181b65a7ffff\n',
 '891181b65abffff\n',
 '891181b65afffff\n',
 '891181b65bbffff\n',
 '891181b65c3ffff\n',
 '891181b65c7ffff\n',
 '891181b65cbffff\n',
 '891181b65cfffff\n',
 '891181b65d3ffff\n',
 '891181b65d7ffff\n',
 '891181b65dbffff\n',
 '891181b6603ffff\n',
 '891181b6607ffff\n',
 '891181b660bffff\n',
 '891181b6617ffff\n',
 '891181b661bffff\n',
 '891181b6623ffff\n',
 '891181b6627ffff\n',
 '891181b6633ffff\n',
 '891181b6637ffff\n',
 '891181b663bffff\n',
 '891181b6643ffff\n',
 '891181b6673ffff\n',
 '891181b6683ffff\n',
 '891181b6687ffff\n',
 '891181b668fffff\n',
 '891181b6693ffff\n',
 '891181b6697ffff\n',
 '891181b669bffff\n',
 '891181b66a3ffff\n',
 '891181b66a7ffff\n',
 '891181b66abffff\n',
 '891181b66afffff\n',
 '891181b66b3ffff\n',
 '891181b66c3ffff\n',
 '891181b66c7ffff\n',
 '891181b66cbffff\n',
 '891181b66cfffff\n',
 '891181b66d3ffff\n',
 '891181b66d7ffff\n',
 '891181b66dbffff\n',
 '891181b6803ffff\n',
 '891181b680bffff\n',
 '891181b680fffff\n',
 '891181b6817ffff\n',
 '891181b682bffff\n',
 '891181b682fffff\n',
 '891181b683bffff\n',
 '891181b6843ffff\n',
 '891181b6847ffff\n',
 '891181b684bffff\n',
 '891181b684fffff\n',
 '891181b6857ffff\n',
 '891181b685bffff\n',
 '891181b6863ffff\n',
 '891181b6867ffff\n',
 '891181b686fffff\n',
 '891181b6877ffff\n',
 '891181b687bffff\n',
 '891181b688bffff\n',
 '891181b6893ffff\n',
 '891181b68c3ffff\n',
 '891181b68cfffff\n',
 '891181b6907ffff\n',
 '891181b690bffff\n',
 '891181b6917ffff\n',
 '891181b691bffff\n',
 '891181b6923ffff\n',
 '891181b6927ffff\n',
 '891181b692bffff\n',
 '891181b692fffff\n',
 '891181b6933ffff\n',
 '891181b6937ffff\n',
 '891181b693bffff\n',
 '891181b6947ffff\n',
 '891181b6953ffff\n',
 '891181b6957ffff\n',
 '891181b696fffff\n',
 '891181b6973ffff\n',
 '891181b697bffff\n',
 '891181b6983ffff\n',
 '891181b6987ffff\n',
 '891181b698fffff\n',
 '891181b6997ffff\n',
 '891181b69a7ffff\n',
 '891181b69abffff\n',
 '891181b69afffff\n',
 '891181b69b3ffff\n',
 '891181b69b7ffff\n',
 '891181b69bbffff\n',
 '891181b69c3ffff\n',
 '891181b69cbffff\n',
 '891181b69dbffff\n',
 '891181b6a03ffff\n',
 '891181b6a07ffff\n',
 '891181b6a0fffff\n',
 '891181b6a17ffff\n',
 '891181b6a1bffff\n',
 '891181b6a23ffff\n',
 '891181b6a27ffff\n',
 '891181b6a2bffff\n',
 '891181b6a2fffff\n',
 '891181b6a37ffff\n',
 '891181b6a3bffff\n',
 '891181b6a63ffff\n',
 '891181b6a67ffff\n',
 '891181b6a6bffff\n',
 '891181b6a6fffff\n',
 '891181b6a73ffff\n',
 '891181b6a7bffff\n',
 '891181b6a87ffff\n',
 '891181b6a8fffff\n',
 '891181b6aa3ffff\n',
 '891181b6aa7ffff\n',
 '891181b6aabffff\n',
 '891181b6aafffff\n',
 '891181b6ab3ffff\n',
 '891181b6ab7ffff\n',
 '891181b6b03ffff\n',
 '891181b6b07ffff\n',
 '891181b6b0bffff\n',
 '891181b6b0fffff\n',
 '891181b6b13ffff\n',
 '891181b6b17ffff\n',
 '891181b6b1bffff\n',
 '891181b6b23ffff\n',
 '891181b6b27ffff\n',
 '891181b6b2bffff\n',
 '891181b6b2fffff\n',
 '891181b6b33ffff\n',
 '891181b6b37ffff\n',
 '891181b6b3bffff\n',
 '891181b6b43ffff\n',
 '891181b6b47ffff\n',
 '891181b6b4bffff\n',
 '891181b6b4fffff\n',
 '891181b6b53ffff\n',
 '891181b6b57ffff\n',
 '891181b6b5bffff\n',
 '891181b6b63ffff\n',
 '891181b6b67ffff\n',
 '891181b6b6bffff\n',
 '891181b6b73ffff\n',
 '891181b6b77ffff\n',
 '891181b6b7bffff\n',
 '891181b6b83ffff\n',
 '891181b6b87ffff\n',
 '891181b6b8bffff\n',
 '891181b6b8fffff\n',
 '891181b6b93ffff\n',
 '891181b6b97ffff\n',
 '891181b6b9bffff\n',
 '891181b6babffff\n',
 '891181b6bbbffff\n',
 '891181b6bc3ffff\n',
 '891181b6bc7ffff\n',
 '891181b6bcbffff\n',
 '891181b6bcfffff\n',
 '891181b6bd3ffff\n',
 '891181b6bd7ffff\n',
 '891181b6bdbffff\n',
 '891181b6c07ffff\n',
 '891181b6c0fffff\n',
 '891181b6c13ffff\n',
 '891181b6c17ffff\n',
 '891181b6c1bffff\n',
 '891181b6c23ffff\n',
 '891181b6c27ffff\n',
 '891181b6c2fffff\n',
 '891181b6c33ffff\n',
 '891181b6c37ffff\n',
 '891181b6c3bffff\n',
 '891181b6c47ffff\n',
 '891181b6c4fffff\n',
 '891181b6c57ffff\n',
 '891181b6c63ffff\n',
 '891181b6c67ffff\n',
 '891181b6c6bffff\n',
 '891181b6c73ffff\n',
 '891181b6c77ffff\n',
 '891181b6c7bffff\n',
 '891181b6c83ffff\n',
 '891181b6c87ffff\n',
 '891181b6c8bffff\n',
 '891181b6c8fffff\n',
 '891181b6c97ffff\n',
 '891181b6ca3ffff\n',
 '891181b6ca7ffff\n',
 '891181b6cabffff\n',
 '891181b6cb7ffff\n',
 '891181b6cbbffff\n',
 '891181b6ccbffff\n',
 '891181b6ccfffff\n',
 '891181b6cd7ffff\n',
 '891181b6cdbffff\n',
 '891181b6d03ffff\n',
 '891181b6d0bffff\n',
 '891181b6d13ffff\n',
 '891181b6d1bffff\n',
 '891181b6d23ffff\n',
 '891181b6d43ffff\n',
 '891181b6d4bffff\n',
 '891181b6d53ffff\n',
 '891181b6d57ffff\n',
 '891181b6d5bffff\n',
 '891181b6d63ffff\n',
 '891181b6d6bffff\n',
 '891181b6d6fffff\n',
 '891181b6d73ffff\n',
 '891181b6d77ffff\n',
 '891181b6d83ffff\n',
 '891181b6d8bffff\n',
 '891181b6d8fffff\n',
 '891181b6d93ffff\n',
 '891181b6d97ffff\n',
 '891181b6d9bffff\n',
 '891181b6dabffff\n',
 '891181b6dc3ffff\n',
 '891181b6dcbffff\n',
 '891181b6dcfffff\n',
 '891181b6dd3ffff\n',
 '891181b6dd7ffff\n',
 '891181b6ddbffff\n',
 '891181b6e13ffff\n',
 '891181b6e1bffff\n',
 '891181b6e37ffff\n',
 '891181b6e3bffff\n',
 '891181b6e4fffff\n',
 '891181b6e5bffff\n',
 '891181b6e7bffff\n',
 '891181b6e83ffff\n',
 '891181b6e87ffff\n',
 '891181b6e8bffff\n',
 '891181b6e8fffff\n',
 '891181b6e93ffff\n',
 '891181b6e97ffff\n',
 '891181b6e9bffff\n',
 '891181b6ea7ffff\n',
 '891181b6eb3ffff\n',
 '891181b6eb7ffff\n',
 '891181b6ebbffff\n',
 '891181b6ec3ffff\n',
 '891181b6ec7ffff\n',
 '891181b6ecbffff\n',
 '891181b6ecfffff\n',
 '891181b6ed3ffff\n',
 '891181b6ed7ffff\n',
 '891181b7417ffff\n',
 '891181b7483ffff\n',
 '891181b7487ffff\n',
 '891181b748fffff\n',
 '891181b7497ffff\n',
 '891181b749bffff\n',
 '891181b74cbffff\n',
 '891181b74cfffff\n',
 '891181b7643ffff\n',
 '891181b764bffff\n',
 '891181b7653ffff\n',
 '891181b765bffff\n',
 '891181b76c3ffff\n',
 '891181b76cbffff\n',
 '891181b76d7ffff\n',
 '891181b76dbffff\n',
 '8911852533bffff\n',
 '8911852536fffff\n',
 '8911852537bffff\n',
 '891185253a7ffff\n',
 '891185253cfffff\n',
 '891185258a3ffff\n',
 '891185258bbffff\n',
 '89118525917ffff\n',
 '89118525923ffff\n',
 '89118525927ffff\n',
 '8911852593bffff\n',
 '89118525943ffff\n',
 '89118525963ffff\n',
 '8911852596bffff\n',
 '891185259b3ffff\n',
 '891185259dbffff\n',
 '89118525ac3ffff\n',
 '89118525b2fffff\n',
 '89118525b9bffff\n',
 '89118525e43ffff\n',
 '89118525e47ffff\n',
 '89118525e4fffff\n',
 '89118525e53ffff\n',
 '89118525e9bffff\n',
 '8911852c203ffff\n',
 '8911852c207ffff\n',
 '8911852c307ffff\n',
 '8911852ce43ffff\n',
 '8911852d8a7ffff\n',
 '8911852dabbffff\n',
 '8911852dbd3ffff\n',
 '8911852e84fffff\n',
 '8911852e8c7ffff\n',
 '8911852e943ffff\n',
 '8911852e953ffff\n',
 '8911852e957ffff\n',
 '8911852eb97ffff\n',
 '8911852eca7ffff\n',
 '8911852ed13ffff\n',
 '8911852ee8bffff\n',
 '8911aa00043ffff\n',
 '8911aa00047ffff\n',
 '8911aa0004bffff\n',
 '8911aa0004fffff\n',
 '8911aa0005bffff\n',
 '8911aa00077ffff\n',
 '8911aa000afffff\n',
 '8911aa0014bffff\n',
 '8911aa00163ffff\n',
 '8911aa0016bffff\n',
 '8911aa0016fffff\n',
 '8911aa0017bffff\n',
 '8911aa001dbffff\n',
 '8911aa00203ffff\n',
 '8911aa00207ffff\n',
 '8911aa0020bffff\n',
 '8911aa0020fffff\n',
 '8911aa00213ffff\n',
 '8911aa00217ffff\n',
 '8911aa0021bffff\n',
 '8911aa00223ffff\n',
 '8911aa00227ffff\n',
 '8911aa0022bffff\n',
 '8911aa0022fffff\n',
 '8911aa00233ffff\n',
 '8911aa00237ffff\n',
 '8911aa0023bffff\n',
 '8911aa00243ffff\n',
 '8911aa00247ffff\n',
 '8911aa0024fffff\n',
 '8911aa00253ffff\n',
 '8911aa00257ffff\n',
 '8911aa00263ffff\n',
 '8911aa00267ffff\n',
 '8911aa0026bffff\n',
 '8911aa0026fffff\n',
 '8911aa00273ffff\n',
 '8911aa00277ffff\n',
 '8911aa0027bffff\n',
 '8911aa00283ffff\n',
 '8911aa00287ffff\n',
 '8911aa0028bffff\n',
 '8911aa0028fffff\n',
 '8911aa00293ffff\n',
 '8911aa00297ffff\n',
 '8911aa002a3ffff\n',
 '8911aa002a7ffff\n',
 '8911aa002afffff\n',
 '8911aa002b3ffff\n',
 '8911aa002bbffff\n',
 '8911aa002c3ffff\n',
 '8911aa002c7ffff\n',
 '8911aa002cbffff\n',
 '8911aa002cfffff\n',
 '8911aa002d7ffff\n',
 '8911aa002dbffff\n',
 '8911aa00303ffff\n',
 '8911aa00307ffff\n',
 '8911aa0030bffff\n',
 '8911aa0030fffff\n',
 '8911aa00313ffff\n',
 '8911aa00317ffff\n',
 '8911aa00323ffff\n',
 '8911aa00327ffff\n',
 '8911aa0032bffff\n',
 '8911aa0032fffff\n',
 '8911aa00337ffff\n',
 '8911aa0034fffff\n',
 '8911aa00353ffff\n',
 '8911aa00357ffff\n',
 '8911aa0035bffff\n',
 '8911aa00363ffff\n',
 '8911aa00367ffff\n',
 '8911aa0036fffff\n',
 '8911aa00373ffff\n',
 '8911aa003a3ffff\n',
 '8911aa003a7ffff\n',
 '8911aa003b3ffff\n',
 '8911aa003b7ffff\n',
 '8911aa003c3ffff\n',
 '8911aa003c7ffff\n',
 '8911aa003cfffff\n',
 '8911aa003d3ffff\n',
 '8911aa003d7ffff\n',
 '8911aa0054fffff\n',
 '8911aa0062bffff\n',
 '8911aa0062fffff\n',
 '8911aa00e1bffff\n',
 '8911aa00e43ffff\n',
 '8911aa00e4bffff\n',
 '8911aa00e53ffff\n',
 '8911aa00e57ffff\n',
 '8911aa00e5bffff\n',
 '8911aa00e8bffff\n',
 '8911aa00e9bffff\n',
 '8911aa00ec3ffff\n',
 '8911aa00ec7ffff\n',
 '8911aa00ecbffff\n',
 '8911aa00ecfffff\n',
 '8911aa00ed3ffff\n',
 '8911aa00ed7ffff\n',
 '8911aa00edbffff\n',
 '8911aa01107ffff\n',
 '8911aa01123ffff\n',
 '8911aa01133ffff\n',
 '8911aa01137ffff\n',
 '8911aa01183ffff\n',
 '8911aa011a7ffff\n',
 '8911aa011afffff\n',
 '8911aa011b7ffff\n',
 '8911aa01523ffff\n',
 '8911aa01527ffff\n',
 '8911aa0152bffff\n',
 '8911aa01533ffff\n',
 '8911aa01537ffff\n',
 '8911aa0153bffff\n',
 '8911aa015afffff\n',
 '8911aa01823ffff\n',
 '8911aa01827ffff\n',
 '8911aa0182fffff\n',
 '8911aa01837ffff\n',
 '8911aa01893ffff\n',
 '8911aa018a3ffff\n',
 '8911aa018b3ffff\n',
 '8911aa018b7ffff\n',
 '8911aa018bbffff\n',
 '8911aa0191bffff\n',
 '8911aa0194bffff\n',
 '8911aa019c7ffff\n',
 '8911aa01b13ffff\n',
 '8911aa01b8bffff\n',
 '8911aa01b8fffff\n',
 '8911aa01b93ffff\n',
 '8911aa01b97ffff\n',
 '8911aa01bcbffff\n',
 '8911aa01c07ffff\n',
 '8911aa01c23ffff\n',
 '8911aa01c2bffff\n',
 '8911aa01c33ffff\n',
 '8911aa01c37ffff\n',
 '8911aa01c3bffff\n',
 '8911aa01c57ffff\n',
 '8911aa01c87ffff\n',
 '8911aa01c8bffff\n',
 '8911aa01c8fffff\n',
 '8911aa01c93ffff\n',